<section class="m-auto">
  <header>
    <div class="theme">
      <div class="chance-theme toggle-theme">
        <img src="../assets/img/chance.png" alt="">
      </div>
    </div>

    <div class="profile">
      <div class="profile-detail">
        <div class="profile-detail-img">
          <img src="../assets/img/silva.jpg" alt="">
        </div>
      </div>
      <div class="profile-description">
        <h2>José Da Silva</h2>
        <p>Software Developer</p>
        <div class="social-icons">
          <span>
            <i class="fa-brands fa-github"></i>
          </span>
          <span>
            <i class="fa-brands fa-linkedin"></i>
          </span>
          <span>
            <i class="fa-brands fa-twitter"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="sumary">
      <div class="sumary-description">
        <div class="experience">
          <p>7</p>
          <p>Years of work experience</p>
        </div>
        <div class="project">
          <p>50+</p>
          <p>Completed projects</p>
        </div>
        <div class="customers">
          <p>20+</p>
          <p>Satisfied customers</p>
        </div>
      </div>
      <div class="sumary-buttons">

        <button class="download">
          <a href="../assets/Jose da Silva-CV.rar" download="">
            Download CV
          </a>
        </button>

        <button class="contact"><a target="_blank" href="https://www.linkedin.com/in/jos%C3%A9-silva12/">contact
            me</a></button>
      </div>

    </div>
  </header>
  <main class="main">
    <span class="content-skills">
      <button class="active">
        Portfolio
      </button>
      <button>
        Skills
      </button>
    </span>

    <div class="content-portfolio">
      <div class="img" [ngsReveal]="({ reset: true})">
        <a href="https://bose-headphones.netlify.app/" target="_blank">
          <img src="../assets/img/bose.png" alt="">
        </a>
      </div>
      <div class="img" [ngsReveal]="({ reset: true})">
        <a href="https://nighttrips.netlify.app/" target="_blank">
          <img src="../assets/img/nigh.png" alt="">
        </a>
      </div>
      <div class="img" [ngsReveal]="({ reset: true})">
        <a href="https://dayweather.netlify.app/" target="_blank">
          <img src="../assets/img/weather.png" alt="">
        </a>

      </div>
      <div class="img" >
        <a href="https://rachidesafio19.netlify.app/" target="_blank">
          <img src="../assets/img/racho.png" alt="">
        </a>
      </div>
    </div>
  </main>
  <footer class="footer">
    <P>© <a target="_blank" href="https://github.com/Silva-jr?tab=repositories">José Da Silva</a>. 2022 All
      rigths reserved</P>
  </footer>
</section>